.game-element-locked {
    filter: brightness(30%);
}

.inputs button {
    width: 80px;
    height: 40px;
}

.info .messages {
    overflow-y: scroll;
    height: 80px;
}
.info .messages > *:first-child {
    font-weight: bold;
}
.info .messages > *:not(:first-child) {
    opacity: 0.5;
}

.controls .inputs > *,
.controls .info > *:not(:last-child) {
    margin-bottom: 20px;
}
.controls .inputs input {
    display: block;
    margin-bottom: 10px;
}
@media (min-width: 767px) {
    .controls {
        position: absolute;
        right: 0;
        top: 0;
        width: 220px;
    }
}

* { box-sizing: border-box;}
body { margin: 0; }
