.game-element-locked {
    filter: brightness(85%);
}

.turn-of {
    position: absolute;
    top: 0;
    left: 30%;
    font-weight: bold;
    font-size: 20px;
}

button {
    width: 80px;
    height: 40px;
}

.info .messages {
    overflow-y: scroll;
    height: 80px;
}
.info .messages > *:first-child {
    font-weight: bold;
}
.info .messages > *:not(:first-child) {
    opacity: 0.5;
}

.controls .inputs > *,
.controls .info > *:not(:last-child) {
    margin-bottom: 20px;
}
.controls .inputs input {
    display: block;
    margin-bottom: 10px;
}
@media (min-width: 767px), (orientation: landscape) {
    .controls {
        position: absolute;
        right: 0;
        top: 0;
        width: 25%;
    }
}

* { box-sizing: border-box;}
body { margin: 0; }

/* Tooltip container */
.tooltip-object {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip-object .tooltip-message {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: -15%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-object:hover .tooltip-message {
    visibility: visible;
    opacity: 1;
}
