.inputs button {
    width: 80px;
    height: 40px;
}

#messages {
    overflow-y: scroll;
    height: 80px;
}
#messages > *:first-child {
    font-weight: bold;
}
#messages > *:not(:first-child) {
    opacity: 0.5;
}

#controls {
     margin: 20px;
}
#controls .inputs > *,
#controls .info > *:not(:last-child) {
    margin-bottom: 20px;
}

* { box-sizing: border-box;}
body { margin: 0; }
