.game-card-wrap {
    width: 12.5%;
    padding: 1%;
    display: inline-block;
}

.game-card-wrap img {
    max-width: 100%;
}

.hand {
    position: fixed;
    bottom: 0;
}

.table.full-trick {
    opacity: 50%;
}

.trump-wrap {
    position: absolute;
    right: 27%;
    top: 20px;
}

.table {
    position: relative;
    top: 20px;
}