#board {
    margin: auto;
    border-collapse: collapse;
    background: #ffefd5;
}

#board tr:nth-child(2n+1) td:nth-child(2n),
#board tr:nth-child(2n) td:nth-child(2n+1) {
    background-color: saddlebrown;
}

#board.locked {
    filter: brightness(30%);
}

#board td {
    width: 60px;
    height: 60px;
    border: 1px solid;

    background-repeat: no-repeat;
    background-position: center;
    cursor: default;
}

#controls {
    margin: 0 auto;
    width: 600px;
}

.inputs {
    text-align: center;
    margin-top: 30px;
}

.inputs button {
    width: 80px;
    height: 40px;
}

.inputs > * {
    vertical-align: top;    
}

.inputs > *:not(:first-child) {
    margin-left: 20px;
}

.inputs .input-elements {
    display: inline-block;
}

.inputs .input-elements input {
    display: block;
}

.inputs .input-elements input:not(:first-child) {
    margin-top: 10px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.info > *:not(:first-child) {
    margin-left: 40px;
}

#messages {
    overflow-y: scroll;
    height: 55px;
    width: 250px;
}

#messages > *:first-child {
    font-weight: bold;
}

#messages > *:not(:first-child) {
    opacity: 0.5;
}
